/* import de fontes  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Oxanium', cursive;*/
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main{
    
    display: inline-block;/*poderia ser só inline?*/
/*  margin-top: 2%; depois que colocou o padding, não precisa mais*/
    padding: 15px;
    position: relative;/*sem esse, bagunça, sei la pq*/
}

.pokedex{
    width: 100%;/*a img vai ocupar 100% do espaço disponivel no container que está (a div main). Logo se a main aumentar (ao colocar mais coisa dentro dela por exemplo) a imagem vai aumentar junto a nao ser que definamos um max-width justamente pra não passar do tamanho x*/
    max-width: 425px;/*que é o a largura original da foto*/
}

.pokemon_image{
    /*left: 0*/
    border: solid 1px;
    position: absolute;
    top: inherit;
    margin-top: 55%;
    left: 45%;
    transform: translate(-53%, -65%);/*não saquei esse transform*/
    height: 5%;
       
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54%;
    right: 24%;
    font-size: clamp(1vw, 10vw, 25px);
}

.pokemon_name{
    color: #3a444d;
    text-transform: capitalize;
}

.form{
    position: absolute;
    background-color: red;
    width: 65%;/*poderia usar clam?*/
    top: 65%;
    left: 13%;
}

.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(1vw, 10vw, 3vh);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size:clamp(1vw, 10vw, 3vh);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;

}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9em;
}